@acct-indent: 10px;
@lighten-level: 20%;
@bgcolor-alternate: 7%;
@acct-levels: 6;
@border-color: hsl(0, 0%, 20%);
@cellPadding: 1px 5px;

.make-acct-type(@bgcolor) {
    .acct-level-color(@l) when (@l > 0) {
        .acct-level-color((@l - 1));
        @light: (@l - 1) * @lighten-level;
        &.acct-level-@{l} {
            &:nth-of-type(odd) {
                background-color: lighten(@bgcolor, @light);
            }
            &:nth-of-type(even) {
                background-color: lighten(@bgcolor, @light + @bgcolor-alternate);
            }
        }
    }
    .acct-level-color(@acct-levels);
}


.acct-level-indent(@l) when (@l > 0) {
    .acct-level-indent((@l - 1));
    tr.acct-level-@{l} td.acct-name {
        padding-left: @l * @acct-indent;
    }
}    
.acct-level-indent(@acct-levels);

body {
    font-size: 14px;
    box-sizing: border-box;
}

a {
    color: hsl(0, 0%, 0);
    text-decoration: none;
    &:hover {
        color: hsl(0, 0%, 50%);
    }
}

table {
    border-collapse: collapse;
}

.hidden {
    display: none;
}

table.main-table {

    .col-average {
        border-left: 1px solid @border-color;
    }

    td, th {
        text-align: right;
        vertical-align: top;
        padding: @cellPadding;
    }

    td:first-child {
        text-align: left; // Does not work for colgroup.
    }

    .acct-grp-button {
        color: hsl(0, 0%, 20%);
        cursor: pointer;
    }

    tr.acct-placeholder {
        font-weight: bold;
    }

    tr.acct-cat-asset {
        .make-acct-type(hsl(240, 20%, 45%));
    }
    tr.acct-cat-liability {
        .make-acct-type(hsl(60, 70%, 30%));
    }
    tr.acct-cat-income {
        .make-acct-type(hsl(120, 60%, 30%));
    }
    tr.acct-cat-expense {
        .make-acct-type(hsl(0, 20%, 30%));
    }

    td.has-splits {
        cursor: pointer;
        position: relative;
        padding: 0;

        .total {
            display: block;
            padding: @cellPadding;
            &:hover {
                background-color: hsl(0, 0%, 80%);
            }
        }
    }

    tfoot  {
        border-top: 1px solid @border-color;
    }

}

table.splits {
    position: absolute;
    z-index: 999;
    top: 100%;
    left: 0;
    width: 600px;
    border: 1px solid @border-color;
    cursor: initial;
    
    td {
        text-align: left;
    }
    td.split-value {
        text-align: right;
    }
    
    tr:nth-of-type(odd) {
        background-color: hsl(160, 80%, 80%);
    }
    tr:nth-of-type(even) {
        background-color: hsl(160, 80%, 90%);
    }
}
